$bg:#11212D;
$secondary:#4A5C6A;
$secondary-low-opacity:#4a5c6a69;

body{
    margin:0px;
    overflow: hidden;
    height:100vh;
    background-color: $bg;
}

#nav{
    display: flex;
    margin-inline: auto;
    margin-top: 5px;
    width:15vw;
    height:5vh;
    min-width:200px;
    min-height:30px;
    // justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap:10px;
    font-size: 20px;
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $secondary;
    
    img{
        margin-top: 5px;
        height:5vh;
        min-height:30px ;
        border-radius: 50%;
    }

}