$bg:#11212D;
$secondary:#4A5C6A;
$secondary-low-opacity:#4a5c6a69;

body{
    margin:0px;
    overflow: hidden;
    height:100vh;
    background-color: $bg;
}

#nav{
    display: flex;
    margin-inline: auto;
    margin-top: 5px;
    width:15vw;
    height:5vh;
    min-width:200px;
    min-height:30px;
    // justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap:10px;
    font-size: 20px;
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $secondary;
    
    img{
        margin-top: 5px;
        height:5vh;
        min-height:30px ;
        border-radius: 50%;
    }

}

#chats{
    width:95vw;
    height:89vh;
    margin-top: 10px;
    margin-inline: auto;
    display: flex;
    gap:20px;
    color:white;

    #chat-list-styles{
        display:flex;
        flex-direction: column;
        width:200px;
        // padding-inline: 30px;
        height:45px;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin-top: 10px;
        border-radius: 20px;
        background-color: $secondary-low-opacity;
        transition:0.28s ease-in-out;
        border:1px solid ;
        cursor:pointer;
        
    }

    #bar{
        background-color: $secondary-low-opacity;
        width:2px;
        height:90vh;
    }

    #ai-chat{
        height:100%;
        width:77vw;
        position:relative;
        // background-color: red;

        #ai-reply{
            font-family: Arial, Helvetica, sans-serif;
        }
        
        #msg-box{
            position:absolute;
            width:inherit;
            height:fit-content;
            min-height: 50px;
            background-color: $secondary;
            border: 1px solid rgba(255, 255, 255, 0);
            border-radius: 24px;
            display: flex;
            justify-content:space-around;
            align-items: center;
            bottom:0%;

            textarea{
                width:70vw;
                resize: none;
                border:1px solid rgba(255, 255, 255, 0);
                height:fit-content;
                display: flex;
                align-items: center;
                min-height: 50px;
                color:white;
                font-size: 20px;
                // position: absolute;
                left:2%;
                font-family: Arial, Helvetica, sans-serif;
                background-color: #11212d00;

                &:focus{
                    outline: none;
                }
            }
            #send{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 20px;
                cursor: pointer;
            }
        }
    }
    
}

@media screen and (max-width:1100px){
    #nav{
        font-size: 17px;
    }
    #chats{
        #chat-list-styles{
            width:70px;
            font-size: 14px;
        }

        #ai-chat{
            #msg-box{
                width:66vw;

                textarea{
                    width:40vw;
                }
            }
        }
    }
}