$bg:#11212D;
$secondary:#4A5C6A;
$secondary-low-opacity:#4a5c6a69;

body{
   margin:0px;
   overflow: hidden;
   background-color: $bg;
   display: flex;
   height:100vh;
   justify-content: center;
   align-items: center;

}

#container{
   width:30vw;
   height:2 0vh;
   min-width: 300px;
   min-height: 200px;
   border:1px solid $secondary-low-opacity;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   font-size:5vw;
   font-family: Arial, Helvetica, sans-serif;

   
   

      #front{
         justify-content: center;
         display: flex;
         position: absolute;
         align-items: center;
         height:97%;
         background-color: $bg;
         width:99%;
         color:aliceblue;
         z-index: 2;
         cursor:pointer;
         transition:0.23s ease-in-out;

         &:hover{
            text-shadow: 10px 10px 2px  rgba(71, 70, 70, 0.706);
         }
      }
      #behind{
         position: absolute;
         z-index: 1;
         height:70%;
         width:50%;
         background-color: $secondary;
         opacity: 0;
         transition:background-color 0.39s ease-in-out opacity 0.38s ease-in-out;
         
         

      }
      &:hover{
         #behind{
            opacity:1;

         }
      }

}